@* <MudText Typo="Typo.h3" Color="Color.Primary" Class="mb-2">@Text</MudText>
<MudText Class="mb-12">@Description</MudText> *@
<h1>@Text</h1>
<p>@Description</p>

@code 
{

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public string? Description { get; set; }

}